{
  "branches": "main",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# allometric/models changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCommand": "./set-version.ps1 testesttest"
      }
    ],
    [
      "@semantic-release/git"
    ],
    [
      "@semantic-release/github"
    ]
  ]
}